.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
  gap: 24px;

  position: absolute;
  width: 813px;
  height: 244px;
  left: 350.5px;
  top: 317px;

  background: #FFFFFF;
  box-shadow: 3.44444px 6.02778px 25.8333px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1A1B26;
}

.p2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #606373;
}

.imgbox {
  display: flex;
  align-items: center;
  height: 3rem;
}

.imgbox [nz-icon] {
  text-align: center;
  font-size: 48px;
}

.card__item {
  display: flex;
  flex-direction: row;
  height: 52px;
  align-self: stretch;
}

.card__item_description {
  height: 78px;
}

nz-form-label {
  text-align: start;
}

.card__input {
  height: 72px;
  resize: none;
}

.ant-form-item {
  margin-bottom: 0;
}
