<div class="container">
  <div class="imgbox">
    <span nz-icon [nzType]="item.iconType" nz-tooltip [nzTooltipTitle]="item.name"></span>
  </div>
  <div class="text">
    <p class="p1">Пока что у данной категории нет ни одного шаблона</p>
    <p class="p2">Вы можете прикрепить новый шаблон к категории</p>
  </div>
  <button nz-button nzType="primary" (click)="showModal()">
    <span>+ Добавить</span>
  </button>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Импорт файла" (nzOnCancel)="handleCancel()" [nzOkLoading]="isOkLoading"
  [nzContent]="modalForm" nzWidth="572px" [nzFooter]="modalFooter">
  <ng-template #modalTitle>Импорт файла</ng-template>

  <ng-template #modalForm>
    <p>Скачайте шаблон загрузки (в формате <a href="">Excel</a> или <a href="">CSV</a>), заполните и загрузите файл в
      форму ниже:</p>

    <nz-upload nzType="drag" [nzMultiple]="true" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      (nzChange)="handleChange($event)">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Нажмите или перетащите файл в эту область, чтобы загрузить</p>
      <p class="ant-upload-hint">Поддержка одиночной или массовой загрузки.</p>
    </nz-upload>
  </ng-template>

  <ng-template class="footer" #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Закрыть</button>
    <button nz-button nzType="primary" type="submit" [nzLoading]="isOkLoading" (click)="submitData()">Добавить</button>
  </ng-template>

</nz-modal>
