.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 24px;
  gap: 24px;

  position: absolute;
  width: 813px;
  height: 244px;
  left: 350.5px;
  top: 317px;

  background: #FFFFFF;
  box-shadow: 3.44444px 6.02778px 25.8333px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.p1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #1A1B26;
}

.p2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #606373;
}

.imgbox {
  width: 48px;
  height: 48px;
  background: blue;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* position: absolute; */
  width: 720px;
  height: 509px;
  left: 360px;
  top: 184px;
}
