.ant-advanced-search-form {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 1022px;
  height: 380px;
  left: 110px;
  top: 221px;
  background: #FFFFFF;
  box-shadow: 3.44444px 6.02778px 25.8333px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

nz-form-item {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 12px;
  gap: 24px;
  width: 974px;
  height: 52px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.select-wrapper {
  display: flex;
  align-items: center;
  width: 668px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 1;
  border: 1px solid #B7B9C7;
  padding: 8px 16px;
}

nz-select {
  width: 596px;
}

input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 16px;
  width: 668px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #B7B9C7;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.name {
  width: 282px;
  height: 40px;
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #606373;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.arrow-box {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.arrow-inside {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form-item {
  margin-bottom: 0;
}

.description {
  height: 84px;
}

.textArea {
  height: 72px;
  display: flex;
  align-items: start;
  justify-content: start;
  resize: none;
  border: 1px solid #B7B9C7;
  padding: 8px 16px;
}

nz-switch {
  height: 100%;
  display: flex;
  align-items: center;
}
